.containerSingIn {
  background-image: url("logo.jpg");
}

.form {
  margin: 100px;
  background-color: rgba(255, 255, 255, 0.3);
}

.small-text {
  color: rgb(0, 0, 0);
}

.container {
  height: 100vh;
  width: 100vh;
  max-width: 100%;
}
