//General
body {
  height: 100vh;
  display: flex;
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// Sidebar
.sidebar-container {
  width: 500px;
  height: 100%;
  background-color: rgb(16, 8, 24);
  @include mobile {
    width: 50px;
  }
  &__header {
    display: flex;
    padding: 15px 20px;
    background-color: rgb(45, 30, 61);
    gap: 15px;
    &__logo {
      color: white;
    }
    &__brand {
      color: white;
      @include mobile {
        display: none;
      }
    }
  }
}
//sideBar list
.sidebar-container {
  &__list {
    color: white;
    margin-top: 10px;
    &__item {
      cursor: pointer;
      padding: 15px 20px;
      @include mobile {
        padding: 15px 0px;
      }
      display: flex;
      gap: 15px;
      color: rgba(255, 255, 255, 0.6999);
      transition: all 0.3s ease;
      &__title {
        @include mobile {
          display: none;
        }
      }
    }
    &__item:hover {
      color: white;
      background-color: rgb(45, 30, 61);
    }
  }
}
//sideBar footer
.sidebar-container {
  position: relative;
  &__footer {
    @include mobile {
      display: none;
    }
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(45, 30, 61);
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
    &__logo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: url(https://fastly.picsum.photos/id/888/200/300.jpg?hmac=WJcjbSQSOOzfBpPsUKZHZzjBCJjDv43RwJ8P8Ag2xj4);
      background-size: cover;
      background-position: center;
    }
    &__data {
      &__title {
        font-weight: 500;
        color: white;
      }
      &__subtitle {
        font-weight: 400;
        color: rgba(255, 255, 255, 0.644);
        font-size: 0.8em;
      }
    }
  }
}

.outlet {
  flex: 0 0 auto;
  width: 72%;
  height: 100%;
}

.outletDropdown {
  position: absolute;
  right: 1%;
  top: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 8px;
  pointer-events: none;
  font-family: Helvetica, "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #000000;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 0px;
  color: black;
}

.switch > span.off {
  right: 0;
  padding-right: 2px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 99px;
  height: 35px;
  background-color: #33ade1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: rgb(146, 194, 241);
  -webkit-moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: white;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}
